{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">
        {% unless content == ""  %}
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        <h2 {% if site.style == 'dark' %}class="text-white"{% endif %} style="font-weight: 300;">Experience</h2>
        <p></p>

        <div class="d-flex flex-wrap gutter-condensed mb-4">

            <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">

              <a href="https://www.rbccm.com/en/" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">

              <img src="https://media.licdn.com/dms/image/C4E0BAQGmFPFPu9XAjg/company-logo_200_200/0?e=2159024400&v=beta&t=ZvP70or1aTMd-VyQ9An37B8n0-lnh1-voTp8Vmf8_lE" class="mx-auto rounded-1 mb-3" alt="Java" width="64" height="64">

              <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">Royal Bank of Canada Capital Markets</p>

              </a>

            </div>

            <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">

              <a href="https://www.bankofengland.co.uk/" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">

              <img src="https://media.licdn.com/dms/image/C4D0BAQF2LvGZOv_F2g/company-logo_200_200/0?e=2159024400&v=beta&t=8OO9OQ_EHoZVka3enT7z1hyvjlJyHYCxxell6d0lAwA" class="mx-auto rounded-1 mb-3" alt="Java" width="64" height="64">

              <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">Bank of England</p>

              </a>

            </div>
          </div>

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}


        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
